select {
    height:40px;
    width:350px;
}

table {
    border-collapse: collapse;
    width:100%;
}

td {
    height: 50px;
}

.PrintButton {
    height: 40px;
    width:100px;
    background-color: rgb(228, 209, 209);
    font-size: 18px;
}